.heading{
    padding-right: 50px; 
    margin-bottom: 25px;
}
.first-room{
    padding-right: 50px;
    margin-bottom: 25px;
}
.second-room{
    padding-right: 50px;
    margin-bottom: 35px;
}
.third-room{
    padding-right: 50px;
    margin-bottom: 45px;
}
.fourth-room{
    padding-right: 50px;
    margin-bottom: 55px;
}
.fifth.room{
    padding-right: 50px;
    margin-bottom: 65px;
}